#drumkitImage {
  background: url("http://magicdrum.org.uk/drumkitlessons/pix/pearl-export.jpg") no-repeat;
  background-size: contain;
  margin: auto;
}

body {
  background-color: white;
margin: auto;
}

.staff {
  visibility: hidden;
  position: relative;
  width: 30px;
  bottom: -200px;
}

.musicalNote {
  visibility: hidden;
  position: absolute;
  bottom: 23px;
  left: 50px;
  z-index: -1
}

.noteImage {
  content: url("http://www.clipartguide.com/_small/0808-0710-3112-3855.jpg");
  width: 60px;
}